.heading__subtitle {
    display: flex;
    align-items: center;
    width: fit-content;
    color: #fa4a4a;
}

.h2 {
    font-size: 24px;
}

.h3 {
    font-size: 18.72px;
}

.h4 {
    font-size: 16px;
}
