@use '../utilities/container';
@use '../abstracts/media-query';

.features-section {

    .features-info-text {
        margin-top: 1.25rem;
        text-align: center;
    }

    .features-info-text {
        margin-top: 1.25rem;
        text-align: center;
    }
    
    .main-features-container {
        @include container.container-base-style;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .left-section {
            width: 40%;

            .feature-container {
                display: flex;
                margin-bottom: 1.875rem;
                gap: 1.875rem;
                justify-content: center;
                align-items: center;

                .feature-icon-container img{
                    width: 70px;
                    height: 70px;
                }
            }
        }

        .right-section img {
            object-fit: contain;
            width: 100%;
            height: auto;

            .right-section img {
                object-fit: contain;
                width: 100%;
                height: auto;
            }
        }

        @media (max-width: media-query.$phone-screen-m) {
            .left-section {
                width: 100%;
            }
        }

        @media (max-width: media-query.$tablet-screen) {
            .left-section {
                width: 80%;
            }
        }
    }
}
