@use '../utilities/container';
@use '../abstracts/media-query';

.features-section {
    .features-info-text {
        margin-top: 1.25rem;
        text-align: center;
    }
    
    .main-features-container {
        @include container.container-base-style;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .left-section {
            width: 40%;

            .feature-container {
                display: flex;
                margin-bottom: 1.875rem;
                gap: 1.875rem;
                justify-content: center;
                align-items: center;
            }
        }
    }
    
    .right-section img {
        object-fit: contain;
        width: 100%;
        height: auto;
    }
    
    
    
    .feature-icon-container img{
        width: 70px;
        height: 70px;
    }
    
    .features-info-text {
        margin-top: 1.25rem;
        text-align: center;
    }
    

    .left-section{
        width: 40%;
    }
    
    .right-section img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    @media (max-width: media-query.$phone-screen-m) {
        .left-section {
            width: 100%;
        }
    }

    @media (max-width: media-query.$tablet-screen) {
        .main-features-container {
            justify-content: space-evenly;
        }
    }
}
