@use '../components/buttons';

.goto-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;

    .goto-left-container {
        width: 40%;
    }
    
    .goto-left-container > div {
        margin-top: 40px;
    }
    
    .goto-title {
        font-size: 46px;
        font-weight: 600;
        margin-bottom: 20px;
        width: fit-content;
    }
    
    .goto-desc-text {
        text-wrap: wrap;
    }
    
    .goto-action-btn-container {
        display: flex;
        gap: 30px;
        /* align-items: center; */
    }
    
    .goto-main-btn {
        @include buttons.main-button-base-style($font-size: 1.5rem);
        padding: 13px 43px;
        border-radius: 5px;
        border: none;
    }
    
    .goto-other-btn-container svg {
        margin-right: 20px;
    }
    
    .goto-info-text-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .goto-info-images-container {
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
    
    .goto-info-images-container span {
        margin: 0 14px;
        font-size: 24px;
    }
    
    .goto-info-images-container svg {
        width: 100%;
        height: auto;
    }
    
    .goto-right-container {
        margin-bottom: 50px;
    }
    
    .goto-right-container img {
        object-fit: contain;
        width: 100%;
    }
    
    .goto-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .goto-right-container svg {
        margin: 0 -10px;
    }
    
    .goto-img-container svg {
        width: auto;
        height: 100%;
        object-fit: cover;
    }
    
    .goto-right-container svg:nth-child(2) {
        z-index: 1;
    }

    @media (max-width: 375px) {
        .goto-container {
            gap: 40px;
        }
    
        .goto-left-container {
            width: 90%;
    
        }
    
        .goto-title {
            text-align: center;
        }
    
        .goto-action-btn-container {
            width: 80%;
            margin: 0 auto;
        }
    
        .left-section {
            width: 100%;
        }
    }
}