@use '../components/buttons';
@use '../abstracts/media-query';

.goto-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 1.875rem;

    .goto-left-container {
        width: 40%;
    }
    
    .goto-left-container > div {
        margin-top: 2.5rem;
    }
    
    .goto-title {
        font-size: 2.875rem;
        font-weight: 600;
        margin-bottom: 1.25rem;
        width: fit-content;
    }
    
    .goto-desc-text {
        text-wrap: wrap;
    }
    
    .goto-action-btn-container {
        display: flex;
        gap: 1.875rem;
    }
    
    .goto-main-btn {
        @include buttons.main-button-base-style($font-size: 1.5rem);
        padding: 0.813rem 2.688rem;
        border-radius: 0.313rem;
        border: none;
    }
    
    .goto-other-btn-container {
        display: flex;
        align-items: center;
        gap: 1.25rem;
    }
    
    .goto-info-text-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .goto-info-images-container {
        display: flex;
        align-items: center;
        margin-left: 0.625rem;
    }
    
    .goto-info-images-container span {
        margin: 0 0.875rem;
        font-size: 1.5rem;
    }
    
    .goto-info-images-container svg {
        width: 100%;
        height: auto;
    }
    
    .goto-right-container {
        margin-bottom: 3.125rem;
    }
    
    .goto-right-container img {
        object-fit: contain;
        width: 100%;
    }
    
    .goto-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .goto-right-container svg {
        margin: 0 -0.625rem;
    }
    
    .goto-img-container svg {
        width: auto;
        height: 100%;
        object-fit: cover;
    }
    
    .goto-right-container svg:nth-child(2) {
        z-index: 1;
    }

    @media (max-width: media-query.$phone-screen-m) {
        .goto-container {
            gap: 2.5rem;
            
        }
        
        .goto-left-container {
            width: 90%;
        }
    
        .goto-title {
            font-size: 1.875rem;
        }
    
        .goto-action-btn-container {
            margin: 0 auto;
            justify-content: center;

            .goto-main-btn {
                padding: 0.625rem 0.625rem;
            }
        }
    
    }
}
