@use '../utilities/container';

.products-section {
    .product-table {
        @include container.container-base-style;
        border-collapse: collapse;
        border-radius: 5px;
        border-style: hidden;
        box-shadow: 0 0 0 1px rgba(47, 128, 237, 30%);
        
    }
    
    .product-table-header th {
        font-weight: 400;
        color: #828282;
        padding: 12px 0;
    }
    
    .product-table th, td {
        border-bottom: 1px solid rgba(47, 128, 237, 30%);
    }
    
    .product-table-row  td {
        padding: 18px 0;
        text-align: center;
        vertical-align: middle;
    }
    
    .product-table-row td:nth-child(3) svg {
        margin-left: 2px;
    }
    
    .product-table-row td:last-child button {
        padding: 10px 30px;
        font-size: 18px;
        font-weight: 600;
        background-color: #FFBD00;
        color: white;
        border-radius: 5px;
    }

    @media (max-width: 375px) {
        .product-table tr td:nth-child(4),  .product-table tr th:nth-child(4){
            display: none;
        }
    
        .product-table {
            box-shadow: none;
        }
    
        .sitemap-container {
            gap: 40px;
        }
    }
}