@use '../utilities/container';
@use '../abstracts/media-query';

.products-section {
    .product-table-container {
        overflow-x: scroll;
    }
    
    .product-table {
        @include container.container-base-style;
        border-collapse: collapse;
        border-radius: 0.313rem;
        border-style: hidden;
        box-shadow: 0 0 0 1px rgba(47, 128, 237, 30%);
        
    }
    
    .product-table-header th {
        font-weight: 400;
        color: #828282;
        padding: 0.75rem 0;
    }
    
    .product-table th, td {
        border-bottom: 1px solid rgba(47, 128, 237, 30%);
    }
    
    .product-table-row  td {
        padding: 1.125rem 0.625rem;
        text-align: center;
        vertical-align: middle;
    }
    
    .product-table-row td:nth-child(3) svg {
        margin-left: 2px;
    }
    
    .product-table-row td:last-child button {
        padding: 0.625rem 1.875rem;
        font-size: 1.125rem;
        font-weight: 600;
        background-color: #FFBD00;
        color: white;
        border-radius: 0.313rem;
    }

    @media (max-width: media-query.$phone-screen-m) {

        .product-table {
            box-shadow: none;
        }
    
        .sitemap-container {
            gap: 2.5rem;
        }
    }
}
