.footer__section {
    background-color: #26232A;

    .container {
        padding: 0 3rem;

        .footer__wrapper {
            padding: 6rem 0;

            .footer__wrapper--content {
                display: flex;
                gap: 40px;
                .footer__wrapper--col {
                    width: 25%;

                    .footer__logo {
                        color: white;
                        font-size: 1.5rem;
                    }

                    .site__info {
                        color: lightgray;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                    }

                    .footer__widget {
                        width: fit-content;
                        margin: 0 auto;

                        .footer__widget--title {
                            color: white;
                            margin-bottom: 10px;
                        }

                        .footer__widget--menu {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;

                            .footer__widget--menu__list {
                                .footer__widget--menu__text {
                                    color: lightgray;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .footer__bottom {
        padding: 1.5rem 0;
        border-top: 1px solid lightgray;

        .footer__bottom--inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: lightgray;

            .footer__bottom--menu {
                display: flex;
                gap: 20px;

                > li > a {
                    color: lightgray;
                }
            }
        }
    }
}
