.breadcrumb__section {
    background: url('../../assets/breadcrumb-bg.png');
    background-position: center right;
    background-size: cover;

    .breadcrumb__content {
        padding: 5rem 0;
        text-align: center;

        .breadcrumb__title {
            font-size: 4rem;
            
            span {
                color: #fa4a4a;
                padding-right: 15px;
            }
        }

        .breadcrumb__menu {
            display: flex;
            justify-content: center;
            font-size: 18px;
            padding-top: 10px;
            gap: 15px;
            font-weight: 500;
        }
    }
}
