@use '../utilities/container';

.benefits-section {
    .benefits-info {
        text-align: center;
        margin-top:1.25rem;
    }
    
    .benefits-main-container {
        @include container.container-base-style;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3.125rem;
    }
    
    .benefit-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20.313rem;
    }
    
    .benefit-title {
        margin-top: 1.25rem;
        font-size: 2rem;
    }
    
    .benefit-info {
        margin-top: 0.5rem;
        text-align: center;
    }
}
